@charset "utf-8";

/*
    Colors for Tutorial Project
    Kirby Le
    April 21, 2020
    CSS file
    tutorial_colors.css
*/

blockquote {
    color: red;
}

address {
    color: black;
    background-color: hsl(90, 100%, 50%);
}

h1 {
    background-color: rgba(255, 255, 00, 0.70);
}

h2 {
    font-size: 21.5;
    background-color: rgba(255, 255, 00, 0.70);
}